body{
    background-color:lightblue;
}

h1{
    color: blueviolet;
    text-align: center;
    border-radius: 10px;
    border: solid 2px blue;
    margin:auto;
    width: 400px;
    margin-bottom: 30px;
}

p{
    color: white;
    font-size: 25px;
   padding:10px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    border:2px solid blue;
    width: 650px;
    border-radius: 20px;
}

#btn { 
    position: fixed; 
    width: 200px; 
    height: 75px; 
    bottom: 50px; 
    right:1px;
    background-color: black;
    color: white;
    border: 0px;
    font-size:30px ;
  } 
  
  textarea#message {
  
    position: fixed; 
    width: 300px; 
    height: 150px; 
    bottom: 50px; 
    right: 206px; 
    border-radius: 20px ;
    text-align: center;
    font-size: 20px;
  }
  
  button{
      margin-left: 15px;
      width: 220px;
      height: 50px;
      border: none;
      outline: none;
      color: #fff;
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
  }
  
  button:before {
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: -2px;
      left:-2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
  }
  
  button:active {
      color: #000
  }
  
  button:active:after {
      background: transparent;
  }
  
  button:hover:before {
      opacity: 1;
  }
  
  button:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      left: 0;
      top: 0;
      border-radius: 10px;
  }
  
  @keyframes glowing {
      0% { background-position: 0 0; }
      50% { background-position: 400% 0; }
      100% { background-position: 0 0; }
  }
  
  
textarea#message{
    position: fixed;
    width: 300px;
    height: 150px;
    bottom: 50px;
    right: 250px;
    border-radius: 30px;
    border: blue;

}